<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>

<form action="#" th:action="@{/adduser}" th:object="${userModel}" method="post">
    <label for="userName">Name</label>
    <input type="text" th:field="*{userName}" id="userName" placeholder="Name">
    <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></span>
    <label for="accountName">Account Name</label>
    <input type="text" th:field="*{accountName}" id="accountName" placeholder="Account Name">
    <span th:if="${#fields.hasErrors('accountName')}" th:errors="*{accountName}"></span>
    <label for="alias">Alias</label>
    <input type="text" th:field="*{alias}" id="alias" placeholder="AKA">
    <span th:if="${#fields.hasErrors('alias')}" th:errors="*{alias}"></span>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    <input type="submit" value="Add User">
</form>

</body>
</html>