<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="/jquery/jquery-3.3.1.js"></script>

<script>
$(document).ready(function() {
    $('#patternCategory').change(
	function() {
		$.getJSON('/categoryPatterns', {
		    patternCategory : $(this).val(),
		    framework : $(this).val(),
			ajax : 'true'
		}, function(data) {
			var html = '<option value="a">Pattern Name</option>';
			var len = data.length;
			for ( var i = 0; i < len; i++) {
				html += '<option value="' + data[i].name + '">'
						+ data[i].name + '</option>';
			}
			html += '</option>';
                        //now that we have our options, give them to our select
			$('#patternName').html(html);
		});
	});
});
</script>

</head>
<body>


<form action="#" th:action="@{/}" th:object="${patternQuery}" method="post">
    <table>
     <!--   <tr>
            <td>
                <select th:field="*{framework}" name="framework" id="framework">
                    <option value="VTG" text="VTG">VTG</option>
                    <option value="OG" text="OG">OG</option>
                </select>
            </td>
            <td>
                <select th:field="*{propType}" name="propType" id="propType">
                    <option value="Staff">Staff</option>
                    <option value="Poi">Poi</option>
                    <option value="Hoop">Hoop</option>
                </select>
            </td>
        </tr> -->
        <tr>
            <td>Category:</td>
            <td><select th:field="*{patternCategory}" name="patternCategory" id="patternCategory">
                <option th:each="cat : ${patternList}" th:value="${cat}" th:text="${cat}">Wireframe</option>
            </select></td>
            <td th:if="${#fields.hasErrors('patternCategory')}" th:errors="*{patternCategory}">Category Error</td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><select name="patternName" id="patternName" >
                <option value="a">Pattern Name<option>
            </select> </td>
                <!-- <td><input type="text" th:field="*{patternName}" /></td> -->
            <td th:if="${#fields.hasErrors('patternName')}" th:errors="*{patternName}">Name Error</td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
</body>
</html>